@use "../abstracts/index" as *;

.activities {
  margin-top: 66px;
  margin-bottom: 115px;

  @include breakpoint(tablet) {
    margin-top: 180px;
  }
  @include breakpoint(desktop) {
    margin-top: 250px;
  }

  @include breakpoint(desktopl) {
    margin-top: 400px;
  }

  @include breakpoint(desktopxl) {
    margin-top: 400px;
  }
  .container {
    @include breakpoint(tablet) {
      display: flex;
      flex-wrap: wrap;
      gap: 11px;
    }

    @include breakpoint(desktopxl) {
      gap: 11px 60px;
    }
  }
  &__title {
    margin-bottom: 30px;
    background: $orange-pink;
    color: $white;
    border-radius: 10px;
    padding: 30px;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    @include breakpoint(tablet) {
      width: 48%;
      padding: 65px 28px;
      margin-bottom: 0;
      margin-top: 40px;
    }
    @include breakpoint(desktop) {
      width: 32%;
    }

    @include breakpoint(desktopxl) {
      width: 30%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 10px;
    background-color: $white;
    border-radius: 10px;
    position: relative;
    padding: 0px 28px;
    @include breakpoint(tablet) {
      width: 48%;
    }
    @include breakpoint(desktop) {
      width: 32%;
    }
    @include breakpoint(desktopxl) {
      width: 30%;
    }

    &-icon {
      width: 56px;
      height: 56px;
      padding: 15px;
      border-radius: 100%;
      background: $orange-pink;
      position: absolute;
      top: -25px;
      left: 25px;
    }

    &-title {
      color: $dark-blue;
      font-size: 20px;
      font-weight: 800;
      margin-top: 56px;
      @include breakpoint(desktopxl) {
        font-size: 32px;
      }
    }

    &-subtitle {
      color: $grey;
      font-weight: 500;
      font-size: 16px;
      @include breakpoint(desktopxl) {
        font-size: 24px;
      }
    }

    &-button {
      @include button();
      font-weight: 700;
      font-size: 18px;
    }
  }
}
