@use "../abstracts/index" as *;

.hero {
  margin-top: 38px;

  &__title {
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: $dark-blue;
    @include breakpoint(tablet) {
      margin-top: 100px;
      max-width: 326px;
    }

    @include breakpoint(tablet) {
      max-width: 400px;
    }

    @include breakpoint(desktop) {
      font-size: 56px;
    }

    @include breakpoint(desktopxl) {
      max-width: 1600px;
      font-size: 100px;
      margin-top: 200px;
    }
  }

  &__subtitle {
    margin-top: 20px;
    color: $grey;
    @include breakpoint(tablet) {
      max-width: 398px;
    }

    @include breakpoint(desktop) {
      font-size: 18px;
    }
    @include breakpoint(desktopxl) {
      font-size: 34px;
      max-width: 1000px;
      margin-top: 90px;
    }
  }
  &__button {
    margin-top: 30px;
    @include breakpoint(tablet) {
      margin-top: 40px;
    }
    @include breakpoint(desktopxl) {
      margin-top: 130px;
    }
  }
  &__img {
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
    position: relative;

    &-members {
      background-color: $white;
      box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
      padding: 16px;
      display: inline-block;
      width: max-content;
      margin-left: 57%;
      position: absolute;
      top: 50px;
      border-radius: 10px;
      @include breakpoint(tablet) {
        top: -320px;
        right: -20px;
      }

      @include breakpoint(tablethorizontal) {
        top: -270px;
        right: -10px;
      }

      @include breakpoint(desktop) {
        top: -230px;
        right: 0px;
      }

      @include breakpoint(desktopxl) {
        padding: 30px;
        top: -460px;
        right: 120px;
      }

      &__title {
        color: $grey;
        font-weight: 700;
      }
      &__number {
        font-weight: 800;
        font-size: 32px;
      }
    }
    &__woman {
      margin-top: 70px;
      background: $orange-pink;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      @include breakpoint(tablet) {
        display: none;
      }
    }
    &-course {
      background-color: $white;
      box-shadow: 0px 34px 54px 0px rgba(6, 22, 141, 0.16);
      padding: 16px 20px;
      padding-right: 40px;
      display: inline-block;
      border-radius: 10px;
      position: absolute;
      top: 260px;
      left: 5px;
      @include breakpoint(tablet) {
        top: 20px;
        left: 390px;
      }

      @include breakpoint(tablethorizontal) {
        top: 100px;
        left: 570px;
      }

      @include breakpoint(desktop) {
        top: -10px;
        left: 700px;
      }

      @include breakpoint(desktopxl) {
        padding: 30px;
        top: -100px;
        left: 2200px;
      }

      &__title {
        color: $grey;
        font-weight: 700;
      }
      &__number {
        font-weight: 800;
        font-size: 32px;
      }
    }
  }
}
