@use "../abstracts/index" as *;

.background {
  background: $background-color;
  z-index: -1;
}

@include breakpoint(tablet) {
  .bg-image {
    background-image: url("../img/woman.png");
    background-repeat: no-repeat;
    background-position: top -100px right -320px;
    background-size: 650px;
    z-index: 1;
  }
}
@include breakpoint(tablethorizontal) {
  .bg-image {
    background-size: 80%;
    background-position: top -150px right -400px;
  }
}
@include breakpoint(desktop) {
  .bg-image {
    background-size: 60%;
    background-position: top -150px right -200px;
  }
}

@include breakpoint(desktopl) {
  .bg-image {
    background-size: 50%;
  }
}

@include breakpoint(desktopxl) {
  .bg-image {
    background-size: 40%;
    background-position: top -300px right -400px;
  }
}
